body {
    width: 400px;
}

html, body {
    padding: 0;
    margin: 0;
    line-height: 1.66;
    color: #333;
    font-family:'Helvetica','Arial','Hiragino Kaku Gothic Pro',Meiryo,'MS PGothic',sans-serif;
}

a{
    color:#0e4b84;
    text-decoration: none;
}

a:hover{
    color:#0069cc;
    text-decoration: none;
}

